#info {
  --info-width: 600px;

  width: var(--info-width);
  border: solid 1px white;
  position: absolute;
  top: 50px;
  left: 50px;
  transition: all 300ms ease-out;
}

#info.isSecret {
  opacity: 0;
}